<a href="https://colab.research.google.com/github/Zoeyyy14/C131project/blob/main/C131project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded=files.upload()

Saving stars.csv to stars.csv

In [6]:
import csv
import pandas as pd
df=pd.read_csv("stars.csv")
df.head()

   Unnamed: 0       Star_name     Distance  Mass Radius
0           0             Sun  0.000015813   1.0      1
1           1          Sirius          8.6   2.1   1.71
2           2         Canopus          310  15.0     71
3           3  Alpha Centauri          4.4   1.1    1.2
4           4        Arcturus           37   1.1     26

In [7]:
df.columns

Index(['Unnamed: 0', 'Star_name', 'Distance', 'Mass', 'Radius'], dtype='object')

In [8]:
df.drop(["Unnamed: 0"],axis=1,inplace=True)
df.head()

        Star_name     Distance  Mass Radius
0             Sun  0.000015813   1.0      1
1          Sirius          8.6   2.1   1.71
2         Canopus          310  15.0     71
3  Alpha Centauri          4.4   1.1    1.2
4        Arcturus           37   1.1     26

In [10]:
df["Radius"]=df["Radius"].apply(lambda x:x.replace("$","").replace(",","")).astype("float")
radius=df["Radius"].tolist()
mass=df["Mass"].tolist()
gravity=[]
def si(radius,mass):
  for i in range(0,len(radius)-1):
    radius[i]=radius[i]*6.957e+8
    mass[i]=mass[i]*1.989e+30
si(radius,mass)
df

                  Star_name     Distance       Mass     Radius
0                       Sun  0.000015813   1.000000   1.000000
1                    Sirius          8.6   2.100000   1.710000
2                   Canopus          310  15.000000  71.000000
3            Alpha Centauri          4.4   1.100000   1.200000
4                  Arcturus           37   1.100000  26.000000
..                      ...          ...        ...        ...
248  2MASSI J2356547-155310           74   0.076367   0.112012
249          WISE 0410+1502           20   0.005728   0.120233
250         WISE 0458+6434A         35.9   0.014319   0.431605
251         WISE 0458+6434B         35.9   0.009546   0.390499
252          WISE 1405+5534         25.3   0.028638   0.088376

[253 rows x 4 columns]

In [11]:
df.to_csv("starwithgravity.csv")